In [1]:
import requests
import pandas as pd
import glob

Descargar Calendar_Dates

In [2]:
# https://transitfeeds.com/p/emt-madrid/212/20190108/
# https://developers.google.com/transit/gtfs/reference#tripstxt
enlace = 'https://openmobilitydata-data.s3-us-west-1.amazonaws.com/public/feeds/emt-madrid/212/' #20190108/original/calendar_dates.txt
fechas = pd.date_range(start="2019-01-01",end="2022-01-01")
for fecha in fechas:
    try:
        fecha = fecha.strftime('%Y%m%d')
        direccion = f'{enlace}{fecha}/original/calendar_dates.txt'
        response = requests.get(url=direccion)
        if(response.status_code==200):
            with open(f"gfts_datos/calendar_dates/{fecha}.csv", "w+") as f:
                f.write(response.text.replace('\n\n', ''))
    except:
        pass

In [4]:
ficheros = glob.glob('datos/GFTS/calendar_dates/*.csv')

In [5]:
dfs = [pd.read_csv(f, header=0, sep=",") for f in ficheros]
df = pd.concat(dfs,ignore_index=True)

In [6]:
df.drop_duplicates().reset_index(inplace=True,drop=True)

In [9]:
df['date_formated'] = pd.to_datetime(df['date'],format='%Y%m%d') 
df = df[df['date_formated'].dt.year>=2019]
df.to_csv('datos/GFTS/gfts_calendar_dates.csv',index=False)

In [8]:
# LA => LABORABLE
# SA => SÃBADO
# FE => FESTIVO / DOMINGO
# SE => SERVICIO ESPECIAL
# LJ => LUNES A JUEVES
# VV => VIERNES

df.service_id.value_counts()

FE    1326
LA    1087
SA     239
SE      16
Name: service_id, dtype: int64

In [101]:
df = df[df['service_id']=='SE']

    service_id      date  exception_type date_formated
686         SE  20191115               2    2019-11-15
687         SE  20191116               2    2019-11-16
688         SE  20191117               1    2019-11-17
689         SE  20191118               1    2019-11-18
690         SE  20191119               1    2019-11-19
691         SE  20191120               1    2019-11-20
692         SE  20191121               1    2019-11-21
693         SE  20191122               1    2019-11-22
694         SE  20191123               1    2019-11-23
695         SE  20191124               1    2019-11-24
696         SE  20191125               2    2019-11-25
697         SE  20191126               2    2019-11-26
698         SE  20191127               2    2019-11-27
699         SE  20191128               2    2019-11-28
700         SE  20191129               2    2019-11-29
701         SE  20191130               2    2019-11-30