In [1]:
import pandas as pd
import numpy as np
import glob
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt

In [2]:
ficheros = glob.glob('datos/Grado_de_Ocupación/Grado_Ocupacion_Lineas_*.xlsx')

In [3]:
columnas = {
    'Código': 'string',
    'Etiqueta': 'string',
    'Denominación': 'string',
    'enero': 'float',
    'febrero': 'float',
    'marzo': 'float',
    'abril': 'float',
    'mayo': 'float',
    'junio': 'float',
    'julio': 'float',
    'agosto': 'float',
    'septiembre': 'float',
    'octubre': 'float',
    'noviembre': 'float',
    'diciembre': 'float'
}

In [4]:
aclaraciones = dict()

In [5]:
# pd.DataFrame(columns=list(columnas.keys()))
dfs = list()
for idx, fichero in enumerate(ficheros):
    tmp = pd.read_excel(fichero,header=None,skiprows=5,names=list(columnas.keys()),index_col=False)
    tmp = tmp.iloc[:,:15]
    # tmp.fillna(0,inplace=True)
    ultima_fila = tmp[tmp['Denominación'].str.contains("Total Red",na=False)].index.values[0]

    # # Quitamos las últimas filas ya que contienen la media de los meses y algunas aclaraciones.
    dfs.append(tmp.iloc[:ultima_fila,:])
    print('Conjunto de datos nº %s:' % (idx), tmp.shape)

    # # Guardamos las aclaraciones en un diccionario por si fuera de interes para su consulta en algún momento.   
    aclaraciones.update({fichero.split('\\')[-1]:list(tmp.iloc[ultima_fila+2:,0])})

Conjunto de datos nº 0: (187, 15)
Conjunto de datos nº 1: (196, 15)
Conjunto de datos nº 2: (196, 15)

In [6]:
dfs[1]

,Código,Etiqueta,Denominación,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre
0,001,1,PLAZA DE CRISTO REY - PROSPERIDAD,99.87,99.72,99.97,100.0,100.0,100.0,100.0,100.0,100.00,100.00,100.00,0.0
1,002,2,PLAZA DE MANUEL BECERRA - AVENIDA REINA VICTORIA,99.96,99.92,100.00,100.0,100.0,100.0,100.0,100.0,100.00,100.00,100.00,0.0
2,003,3,PUERTA DE TOLEDO - PLAZA DE SAN AMARO,100.00,100.00,100.00,100.0,100.0,100.0,100.0,100.0,100.00,100.00,100.00,0.0
3,004,4,PLAZA DE CIUDAD LINEAL - PUERTA DE ARGANDA,99.60,99.40,99.97,100.0,100.0,100.0,100.0,100.0,99.97,99.98,99.97,0.0
4,005,5,PUERTA DEL SOL/SEVILLA - ESTACION DE CHAMARTIN,100.00,100.00,100.00,100.0,100.0,100.0,100.0,100.0,100.00,100.00,100.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,710,SE,ATOCHA - HOSPITAL IFEMA,0.00,0.00,100.00,100.0,100.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0
183,712,SE,SOL/SEVILLA - PUERTA DE TOLEDO,0.00,0.00,NaN,0.0,0.0,0.0,0.0,0.0,0.00,100.00,100.00,0.0
184,718,SE,PUERTA DE ARGANDA - CAÑADA REAL,100.00,100.00,100.00,100.0,100.0,100.0,100.0,100.0,100.00,100.00,100.00,0.0
185,721,SE,CANILLEJAS - ESTADIO METROPOLITANO,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0
186,723,SE,ALSACIA - EL CAÑAVERAL,98.28,97.05,96.77,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0

In [7]:
aclaraciones

{'Grado_Ocupacion_Lineas_2019.xlsx': ['(1)  El Servicio Especial 721 solo funciona los días de evento en el Estadio Metropolitano.',
  '(2)  El 1 de abril de 2019 el Servicio Especial 722 se transforma en la línea 166.'],
 'Grado_Ocupacion_Lineas_2020.xlsx': ['(1)  El Servicio Especial 721 solo funciona los días de evento en el Estadio Metropolitano.',
  '(2)  El 18 de febrero se crea la línea 361.',
  '(3)  El 3 de marzo de 2020 la línea 602 se prolonga y se transforma en la línea 362.',
  '(4)  El 16 de marzo de 2020 el Servicio Especial 723 se transforma en la línea 159.',
  '(5)  El Servicio Especial 710 funciona del 23 de marzo al 24 de mayo de 2020.',
  '(6)  El 15 de septiembre se crea la línea 363.',
  '(7)  El 7 de octubre se crea el Servicio Especial 712.'],
 'Grado_Ocupacion_Lineas_2021.xlsx': ['(1)  El Servicio Especial 721 solo funciona los días de evento en el Estadio Metropolitano.',
  '(2)  El 16 de febrero se crea la línea 167.',
  '(3)  El 2 de marzo se crea la línea 163.',
  '(4)  El 17 de marzo se crea la línea 405.',
  '(5)  El 1 de septiembre se crea el Servicio Especial 708.']}

In [8]:
ficheros2 = glob.glob('datos/Grado_de_Ocupación/Evolucion_*.xlsx')

In [9]:
viajeros = [pd.read_excel(f,skiprows=5,skipfooter=1) for f in ficheros2]
viajeros = pd.concat(viajeros)
viajeros.rename(columns={'Unnamed: 2':'Denominación'},inplace=True)
viajeros

,Código,Etiqueta,Denominación,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,1,PLAZA DE CRISTO REY - PROSPERIDAD,2503450,2524650,2591273,2505594,2122331,2322849,1155445,1350331,659666
1,2,2,PLAZA DE MANUEL BECERRA - AVENIDA REINA VICTORIA,3764122,3776352,3961191,3757125,3243683,3761721,1751521,2188010,1131774
2,3,3,PUERTA DE TOLEDO - PLAZA DE SAN AMARO,3065657,3020582,3426712,3044709,2711451,2498808,1366097,1668801,783687
3,4,4,PLAZA DE CIUDAD LINEAL - PUERTA DE ARGANDA,2457707,2419891,2499953,2485655,2509467,2559261,1404590,1727608,874014
4,5,5,PUERTA DEL SOL/SEVILLA - ESTACION DE CHAMARTIN,1974948,1964634,2069648,1924061,1798507,1772593,890114,1142059,618605
...,...,...,...,...,...,...,...,...,...,...,...,...
264,788,SE,ATOCHA RENFE - RECOLETOS,0,0,200494,0,0,0,0,0,0
265,796,SE,METROPOLITANO - MONCLOA,515186,0,0,0,0,0,0,0,0
266,797,SE,ALAMEDA DE OSUNA - TORRE ARIAS,106541,0,0,0,0,0,0,0,0
267,798,SE,METROPOLITANO-CIUDAD UNIVERSITARIA - MONCLOA,73280,0,0,0,0,0,0,0,0
268,799,SE,MAR DE CRISTAL - VALDEBEBAS,92731,337471,0,0,0,0,0,0,0